# ignore executable files
seqEncoder
ompEncoder
mpiEncoder
decoder
menu

# ignore performance data
performanceEvaluation/performanceImages
performanceEvaluation/plots

# ignore .vscode
.vscode

# ignore outputs
outputs/*

# ignore build
build/*

# ignore performanceData.csv
performanceData.csv

