# ignore executable files
seqEncoder
ompEncoder
mpiEncoder
decoder
menu

# ignore performance data
performanceEvaluation
docs

# ignore .vscode
.vscode

# ignore outputs
outputs/*

# ignore build
build/*


