# ignore executable files
seqEncoder
ompEncoder
mpiEncoder
decoder
exe
wexe

# ignore performance data
performanceData.csv

# ignore .vscode
.vscode

# ignore outputs
outputs/*

# ignore build
build/*


